.Nav {
  position: absolute;
  right: 3%;
  top: 40%;
}

.NavList {
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: relative;
}

.NavListItem:not(:last-child) {
  margin-bottom: 15px;
}

.NavListLink {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
}

