.Promo {
  min-height: 100vh;
  background-image: url('../../assets//img/first_bg.png');
  background-size: 100% 100%;
  background-position: center;
  background-color: rgb(8, 92, 218);
  background-repeat: no-repeat;

}

.PromoWrapper{
  position: relative;
  padding-top: 80px;
  width: 100%;

}


.NavPosition {
  position: absolute;
  top: 40%;
  left: 5%;
}


.PromoTitle {
  width: 90%;
  color: #0d319c;
  font-size: 50px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.PromoLink{
  position: absolute;
  bottom: 7%;
  left: 42%;
  color: #fff;
  font-size: 24px;
}

.PromoLink::before{
  content: "";
  position: absolute;
  top: 28px;
  left: 31%;
  display: inline-block;
  width: 67px;
  height: 40px;
  background-image: url('../../assets/icons/downArrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
}


